In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import ast
import math
import numpy as np
from collections import defaultdict
import re

In [2]:
data = pd.read_csv('./results_and_time.csv')
data.head(1)

,id,Image URL,text,top_probs,top_labels,Year,Emperor,Shogun,Samurai,Minister,...,Merchant,Craftsman,Kabuki,Mountain,Sea,Lake,Plant,Animal,Man,Woman
0,AN00418884_001_l.jpg,https://data.ukiyo-e.org/bm/scaled/AN00418884_...,sixth miss embassy procession man hat beard ho...,"[0.0250396728515625, 0.0242767333984375, 0.024...","['Plant', 'Samurai', 'Soldier', 'Army', 'Worke...",1711,0.0,0.0,0.024277,0.0,...,0.0,0.019806,0.0,0.0,0.0,0.0,0.02504,0.0,0.0,0.020767

In [ ]:
# t = 0.1