In [1]:
import pandas as pd

In [19]:
prints = pd.read_csv('./ukiyo-e_crawler/meta_data/ukiyo-e_artworks_details.csv').reset_index()
nouns = pd.read_csv('./text_processing/labels.csv')
nouns = nouns[['Unnamed: 0', 'LABELS']].rename(columns={'Unnamed: 0': 'index'})

C:\Users\marga\AppData\Local\Temp\ipykernel_18672\1436364997.py:2: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191) have mixed types. Specify dtype option on import or set low_memory=False.
  nouns = pd.read_csv('./text_processing/labels.csv')

In [20]:
print(len(prints))
prints.head(1)

177985

,index,Image URL,Artist,Title,Date,Details,Source,Description,Similar Prints
0,0,https://data.ukiyo-e.org/bm/scaled/AN00418884_...,Okumura Masanobu,NaN,1711,https://www.britishmuseum.org/collection/objec...,http://www.britishmuseum.org/research/search_t...,Print. Sixth of series of twelve (first two mi...,[]

In [21]:
print(len(nouns))
nouns.head(1) # the lengths do not match...

177939

   index                                             LABELS
0      0  ['print', 'sixth', 'series', 'twelve', 'first'...

In [22]:
prints_with_nouns = prints.merge(nouns, on='index') # this is problematic: if i merge on linear index, some works won't be associated with the correct description... 
# i would need something else in labels.csv to merge on, such as the title
prints_with_nouns.head(2)

,index,Image URL,Artist,Title,Date,Details,Source,Description,Similar Prints,LABELS
0,0,https://data.ukiyo-e.org/bm/scaled/AN00418884_...,Okumura Masanobu,NaN,1711,https://www.britishmuseum.org/collection/objec...,http://www.britishmuseum.org/research/search_t...,Print. Sixth of series of twelve (first two mi...,[],"['print', 'sixth', 'series', 'twelve', 'first'..."
1,1,https://data.ukiyo-e.org/mfa/scaled/sc220382.jpg,Okumura Masanobu,Actor Sanogawa Ichimatsu as a Falconer,1740,https://collections.mfa.org/objects/224230,http://www.mfa.org/search/collections,NaN,['https://ukiyo-e.org/image/bm/AN00611916_001_l'],"['actor', 'falconer']"